<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>15 Minute Difference</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Website styles and JS -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!--<script src="/static/js/moment.min.js"></script>-->

    <!-- jQuery TimePicker -->
    <script type="text/javascript" src="/static/js/jquery.timepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.timepicker.css" />

    <script>
        $(document).ready(function(){
            $('#time').timepicker({"step": 15, "minTime": "7:00am", "maxTime": "7:00pm"});

            $("#signup_form").submit(function(){
                // Read timezone
                var offset = new Date().getTimezoneOffset();
                $("#timezone").val(offset);

                // Read selected date/time.
                // Week days are numbered from Sunday = 0 to Saturday = 6;
                var firstReminderTime = $("#time").timepicker("getTime");  // returns today's date with the time selected in the text box
                // Change the date part to the day selected in the UI. Keeping in mind to select the next day of the week.
                firstReminderTime.setDate(firstReminderTime.getDate() + (7 - firstReminderTime.getDay()) % 7 + parseInt($("#day").val()));
                // Save the value in the hidden field. Format it in a way that Django understands.
                $("#firstReminderTime").val(firstReminderTime.toISOString().substring(0, 19).replace("T", " "));
            });
        });
    </script>
  </head>
  <body>
    <header>
    </header>
    <section class="page-cover-sec">
        <div class="cover-sec-overlay"></div>
        <div class="container">
            <h1 class="cover-sec-text"> Welcome to 15 minute difference!</h1>
        </div>

    </section>
   
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 page-main-content">
                <p class="page-subtitle">Sign up to commit only 15 minutes a week!</p>
                <div class="row">
                    <div class="leave-comment-form">

                        <form id="signup_form" method="POST">
                            <!-- CSRF token for security -->
                            {% csrf_token %}

                            <!-- Hideen fields -->
                            <input type="hidden" name="timezone" id="timezone">
                            <input type="hidden" name="firstReminderTime" id="firstReminderTime">
                            {{ form.firstReminderTime.errors}}
                        
                        <div class="row">
                        
                        <div class="col-xs-6">
                        <!-- full-name input-->
                            <div class="form-group">
                                <label for="fullName">Full Name</label>
                                {{form.fullName}}
                                {{ form.fullName.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6">

                            <div class="form-group">
                                <label for="emailAddr">Email address</label>
                                {{form.emailAddr}}
                                <small class="text-muted">We'll never share your email with anyone else.</small>
                                {{ form.emailAddr.errors }}
                            </div>
                        </div> <!-- email addr col -->
                        </div> <!-- name email addr row -->
                        <!-- hide for now 
                        <div class="form-group">
                            <label for="phoneNumber">Phone</label>
                            {{form.phoneNumber}}
                            {{ form.phoneNumber.errors }}
                        </div>
                        <!-- Address ->
                        <fieldset>
                        <!-- address-line1 input->
                        <div class="form-group">
                            <label for="addr1">Address Line 1</label>
                            {{form.addr1}}
                            <small class="text-muted">Street address, P.O. box, company name, c/o</small>
                            {{form.addr1.errors}}
                        </div>

                        <!-- address-line2 input->
                        <div class="form-group">
                            <label for="addr2">Address Line 2</label>
                            {{form.addr2}}
                            <small class="text-muted">Apartment, suite , unit, building, floor, etc.</small>
                            {{form.addr2.errors}}
                        </div>
                        <!-- City ->
                        <div class="form-group">
                            <label for="city">City</label>
                            {{form.city}}
                            {{form.city.errors}}
                        </div>
                        <!-- State ->
                        <!-- <div class="form-group">
                            <label for="state">State</label>
                            <input id="state" type="text" placeholder="State">
                        </div>
                        -->
                        <!-- zipcode -->
                        <div class="row">
                            <div class="col-xs-2">
                            <div class="form-group">
                                <label for="zipcode">Zip Code</label>
                                {{form.zipcode}}
                                {{form.zipcode.errors}}
                            </div>
                            </div>
                        <!-- </fieldset> -->
                        </div>
                    <div class="row"> <!-- day and time row -->
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="day">Day</label>
                                <select id="day">
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="0">Sunday</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="time">Time</label>
                                <input type="text" id="time" autocomplete="off">
                            </div>
                        </div>
                </div> <!-- day and time row -->

                <button type="submit" class="btn btn-primary">Sign me up!</button>
                </form> <!--sign-up-form -->

            </div><!--leave-comment-form"-->
        </div><!-- row -->
        </div><!-- page-main-content -->
        </div><!-- row -->
    </div><!-- container -->

  </body>
</html>
